@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}
#header > .logo {
  width: 60vw;
}
#header > .logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
#header > nav {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

/* #email {
  margin-bottom: 20px;
} */
#hero input[type="email"] {
  max-width: 350px;
  width: 100%;
  padding: 6px;
}

nav > ul {
  list-style: none;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* justify-content: space-between; */
}
#header > nav a {
  color: black;
  text-decoration: none;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 90px;
}
#hero .btn {
  font-size: 1em;
  font-weight: 900;
  padding: 6px 16px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  background-color: #f1c40f;
}
#hero > h2 {
  margin-bottom: 20px;
}
.containeer {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

#features {
  margin-top: 30px;
}
.grid {
  display: flex;
}
#feature .icon {
  display: flex;
  align-items: center;
  font-size: 50px;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}
#feature .desc {
  width: 80vw;
  padding-top: 31px;
}

#howitworks {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}
#howitworks > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
.product > .lebel {
  background-color: #ddd;
  color: black;
  padding: 18px 0px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.product > ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#pricing ol {
  list-style: none;
  /* margin-right: 30px; */
}

#pricing li {
  margin-top: 10px;
}
footer ul {
  list-style: none;

  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
footer li {
  padding-right: 1rem;
}

footer {
  margin-top: 30px;
  padding: 20px;
  background-color: #ddd;
}
footer span {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
.btn {
  background-color: #f1c40f;
  font-size: 1em;
  font-weight: 400;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #000;
  margin-top: 25px;
  margin-bottom: 24px;
  cursor: pointer;
}

@media (max-width: 1028px) {
  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    max-width: 300px;
    width: 100%;
  }
}

@media (max-width: 550px) {
  #feature .desc {
    width: 100%;
    text-align: center;
  }
  .containeer {
    max-width: fit-content;
    width: 100%;
  }
}

@media (max-width: 550px) {
  #feature .icon {
    display: none;
  }
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
    
  }
  #header > .logo > img{
    margin-left: -20px;
  }
}
@media (max-width: 650px) {
  header nav > ul {
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #hero {
    margin-top: 120px;
  }
}
@media (max-width: 507px) {
  body {
    text-align: center;
  }
}
@media (max-width: 396px) {
  .containeer {
    max-width: fit-content;
  }
}
